/* :root{
    --width:400px;
} */

*{
    margin: 0;
    padding: 0;
}
#game{
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid brown;
}
#btn{
    font-size: 2rem;
    padding: .5rem 2rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    margin: 1rem auto;
    display: block;
  
    background: linear-gradient(to top left, #34b428, #eb4f11);
}
#btn:active{
background-color: red;
}
.slider{
    visibility: hidden;
    height: 20px;
    width: 100px;
    background-color: rgba(26, 199, 70, 0.623);
    position: relative;
}
#slider1{
    visibility: visible;
}
.animate{
    animation: slide 4s infinite linear;
}
@keyframes slide{
    0%{left:0px}
    50%{left:400px}
    100%{left:0px}
}
